@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
    color: black;
}
li{
    list-style-type: none;
}
summary{
    cursor: pointer;
}
body{
    /*font-family: 'Roboto', sans-serif;*/
    font-family: 'Kanit', sans-serif;
    font-size: 1.6rem;
}
header{
    position: fixed;
    width: 100%;
    height: 6rem;
    top: 0;
    left: 0;
    background-color: #fff;
    border-bottom: 2px solid #c3c3c3;
    box-shadow: 1px 1px 16px #c0c0c0;
    z-index: 500;
}
.nav{       
    display: flex;
    justify-content: space-between;
    max-width: 100rem;
    width: 100%;
    margin: 0 auto;
    height: 100%;
    align-items: center;
}
.nav__logo{
    margin-left: 1rem;
}
.nav__h2 a{
    font-weight: 600;
    text-transform: uppercase;  
    color: #606060;
    font-family: 'Rajdhani', sans-serif;
}
.icon__menu{
    display: none;
    margin-right: 1rem;
    cursor: pointer;
}
.icon__menu img{
    width: 3.2rem;
}
.nav__navbar{
    display: flex;
}
@media (max-width: 1030px){
    .icon__menu{
        display: block;
    }
    .nav__navbar{
        display: none;
    }
}
.nav__navbar a{
    font-size: 1.3rem;
}
.nav__item{
    margin-right: 2rem;
}
.main{
    padding-top:10rem ;
    /*display: grid;
    grid-template-columns: 300px 3.5fr;*/
    background-color: #ECF0F1;
}

.list{
    position: fixed;
    background-color: #fff;
    max-width: 300px;
    width: 100%;
    height: 100vh;
    /*display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 0px 36px 16px 0px;
    */
    z-index: 500;
    transition:.3s;
    top: 60px;
    left: 0;

}
@media (max-width: 1380px){
    .list{
        max-width: 24rem;


    }
}
.visible{
    left: -240px;
}
@media (min-width: 1030px){
    .visible{
        left: 0;
    }
}

#nav__scroll{
    height: 80%;
    overflow-y: scroll;
    padding-bottom: 40rem;
}
#nav__scroll::-webkit-scrollbar{
    width: 0;
}
.list__item-two{
    width: 100%;
    text-align: center;
    overflow: hidden;
}
.nav__link-two{
    display: block;
    padding: 0.7rem 0;   
}
.list__item--click{
    cursor: pointer;
}
.list__bottom{
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 70%;
    margin: 0 auto;
    border-bottom: 1px solid #E6E6E6;
}
.arrow .list__arrow{
    transform: rotate(90deg);
}
.list__arrow{
    margin-left: auto;
    transition: transform .3s;
}
.list__show{
    width: 80%;
    margin-left: auto;
    border-left: 2px solid #303440;
    transition: height .4s;
    height: 0;
}
.list__inside{
    border-radius: 6px;
    padding-left: 2rem;
}
.list__inside:hover{
    background-color: #F6F8FA;
}



.main__content{
    margin: 0 auto;
    padding-left: 32rem;
}
@media (max-width: 1380px) {
    .main__content{
        padding-left: 26rem;
    }
}
@media (max-width: 1030px) {
    .main__content{
        padding-left: 4rem;
    }
}
@media (max-width: 750px) {
    .main__content{
        padding-left: 1rem;
    }
}
.main__content h2{
    color: #606060;
    margin: 10px;
    font-size: 5rem;
    font-weight: 300;

}
.main__content div h3{
    font-size: 2rem;
    font-weight: 400;
    color: #606060;
    margin: 10px;
}
@media (max-width:720px) {
    .main__content div h3{
        font-size: 1.5rem;
        margin: 0;
    }
}
.articule__products{
    max-width: 124rem;
    width: 100%;
}
.section__category{
    margin-bottom: 5rem;
}
.section__category h2{
    scroll-margin-top: 10rem;
}
@media (max-width: 720px) {
    .section__category h2{
        font-size: 3rem;
    }
}
.section__category h3{
    scroll-margin-top: 7rem;
}
.cards{
    display: flex;
    flex-wrap: wrap;
}
.card{
    background-color: #fff;
    max-width: 29rem;
    width: 100%;
    margin: 1rem;
    border: 1px solid #dadce0;
    cursor: pointer;
    transition: 0.3s;
    box-shadow: 1px 1px 7px #c0c0c0;
    overflow: hidden;
    border-radius: 0.6rem;
}
@media (max-width: 1380px){
    .card{
        max-width: 22rem;
        margin: 0.5rem;
    }
}
@media (max-width: 720px){
    .card{
        max-width: 14rem;
    }
}
@media (max-width: 460px){
    .card{
        max-width: 45%;
    }
}

.card:hover{
    box-shadow: 1px 1px 16px #c0c0c0;
    overflow: unset;
}
.card__figure{
    display: flex;
    justify-content: center;
    height: 20rem;
    text-align: center;
    margin: 2rem 0;
    align-items: flex-end;
}
@media (max-width: 1380px){
    .card__figure{
        height: 17rem;
    }
}
@media (max-width: 720px){
    .card__figure{
        height: 11rem;
    }
}
.card__figure img{
    transition: 0.3s;
    z-index: 100;
}
.card__figure:hover > img{
    height: 22rem;
}
@media (max-width: 1380px){
    .card__figure:hover > img{
        height: 19rem;
    }
}
@media (max-width: 720px){
    .card__figure:hover > img{
        height: 11rem;
        overflow: none;
    }
}
.card__img{
    height: 100%;
}
.card__information{
    padding: 1rem;
    border-top: 1px solid #dadce0;
}
@media (max-width:720px) {
    .card__information{
        padding: 0;
    }
}
.card__information small{
    margin: 10px;
    color: #606060;
    font-size: 1.5rem;
}
.card__information h3{
    font-size: 20px;
    padding: 5px 0px 5px 10px;
}

/*.card__information .card__diferent{
    padding: 0 5px;
    border-radius: 5px;
}*/
