@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
    color: black;
}
li{
    list-style-type: none;
}
summary{
    cursor: pointer;
}
body{
    /*font-family: 'Roboto', sans-serif;*/
    font-family: 'Kanit', sans-serif;
    font-size: 1.6rem;
}
header{
    position: fixed;
    width: 100%;
    height: 8rem;
    top: 0;
    left: 0;
    background-color: #fff;
    border-bottom: 2px solid #c3c3c3;

}
.nav{       
    display: flex;
    justify-content: space-between;
    max-width: 100rem;
    width: 100%;
    margin: 0 auto;
    height: 100%;
    align-items: center;
}
.nav__logo{
    /* background-color: blue; */
}
.nav__h2{
    font-weight: 600;
    text-transform: uppercase;  
}
.nav__navbar{
    background-color: burlywood;
    display: flex;
}
.nav__item{
    margin-right: 2rem;
}
.main{
    margin-top:8rem ;
    display: grid;
    grid-template-columns: 1fr 3.5fr;
}
.nav__main{
    min-width: 21rem;
    margin-left: 2rem;
}
.nav__main ol{
    margin-left: 2rem;
}
.nav__main li{
    margin: 1rem 0;
}
.main__content{
    margin: 0 auto;
    padding: 2rem;
    border-left: 1px solid #c3c3c3;
}
.cards{
    display: flex;
    flex-wrap: wrap;
}
.card{
    max-width: 20rem;
    width: 100%;
    margin: 1rem;
    border: 1px solid #dadce0;
    cursor: pointer;
    transition: 0.3s;
    box-shadow: 1px 1px 7px #c0c0c0;
}
.card:hover{
    box-shadow: 1px 1px 16px #c0c0c0;
}
.card__figure{
    height: 100px;
    text-align: center;
    margin: 2rem 0 ;
    overflow: hidden;
}
.card__img{
    height: 100%;
}
.card__information{
    padding: 1rem;
    border-top: 1px solid #dadce0;
}
