@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
    color: black;
}
li{
    list-style-type: none;
}
summary{
    cursor: pointer;
}
body{
    /*font-family: 'Roboto', sans-serif;*/
    font-family: 'Kanit', sans-serif;
    font-size: 1.6rem;
}
header{
    position: fixed;
    width: 100%;
    height: 6rem;
    top: 0;
    left: 0;
    background-color: #fff;
    border-bottom: 2px solid #c3c3c3;
    box-shadow: 1px 1px 16px #c0c0c0;
    z-index: 500;
}
.nav{       
    display: flex;
    justify-content: space-between;
    max-width: 100rem;
    width: 100%;
    margin: 0 auto;
    height: 100%;
    align-items: center;
}
.nav__h2 a{
    font-weight: 600;
    text-transform: uppercase;  
    color: #606060;
    font-family: 'Rajdhani', sans-serif;

}
.nav__navbar{
    display: flex;
}
.nav__navbar a{
    font-size: 1.3rem;
}
.nav__item{
    margin-right: 2rem;
}
.main{
    padding-top:10rem ;
    display: grid;
    grid-template-columns: 300px 3.5fr;
    background-color: #ECF0F1;
}

.list{
    position: fixed;
    background-color: #fff;
    max-width: 300px;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 0px 36px 16px 0px;

}
.list__item-two{
    width: 100%;
    text-align: center;
    overflow: hidden;
}
.nav__link-two{
    display: block;
    padding: 1.5rem 0;   
}
.list__item--click{
    cursor: pointer;
}
.list__bottom{
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 70%;
    margin: 0 auto;
}
.arrow .list__arrow{
    transform: rotate(90deg);
}
.list__arrow{
    margin-left: auto;
    transition: transform .3s;
}
.list__show{
    width: 80%;
    margin-left: auto;
    border-left: 2px solid #303440;
    transition: height .4s;
    height: 0;
}
.list__inside{
    border-radius: 6px;
    padding-left: 2rem;
}
.list__inside:hover{
    background-color: #F6F8FA;
}



.main__content{
    margin: 0 auto;
    padding: 2rem 4rem;
}
.main__content h2{
    color: #606060;
    margin: 10px;
    font-size: 5rem;
    font-weight: 300;
}
.main__content div h3{
    font-size: 2rem;
    font-weight: 400;
    color: #606060;
    margin: 10px;
}
.section__category{
    margin-bottom: 5rem;
}
.section__category h2{
    scroll-margin-top: 10rem;
}
.section__category h3{
    scroll-margin-top: 7rem;
}
.cards{
    display: flex;
    flex-wrap: wrap;
}
.card{
    background-color: #fff;
    max-width: 30rem;
    width: 100%;
    margin: 1rem;
    border: 1px solid #dadce0;
    cursor: pointer;
    transition: 0.3s;
    box-shadow: 1px 1px 7px #c0c0c0;
    overflow: hidden;
    border-radius: 0.6rem;
}
.card:hover{
    box-shadow: 1px 1px 16px #c0c0c0;
    overflow: unset;
}

.card__figure{
    display: flex;
    justify-content: center;
    height: 20rem;
    text-align: center;
    margin: 2rem 0 ;
}
.card__figure img{
    transition: 0.3s;
    z-index: 100;
}
.card__figure:hover > img{
    height: 22rem;
}
.card__img{
    height: 100%;
}
.card__information{
    padding: 1rem;
    border-top: 1px solid #dadce0;
}

.card__information small{
    margin: 10px;
    color: #606060;
    font-size: 1.5rem;
}
.card__information h3{
    font-size: 20px;
    padding: 5px 0px 5px 10px;
}
.card__information p{
    font-size: 1.3rem;
}
.card__information .card__diferent{
    background-color: #1E8449;
    border-radius: 5px;
    color: #fff;
}
